@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Новости</h1>
    <p class="lead">Какая-то очень важная инфа про новости</p>
    <p><a class="btn btn-primary btn-lg">Переход к новостям &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Рубрика 1</h2>
        <p>
            описание...
        </p>
        <p><a class="btn btn-default">Подробности &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Рубрика 2</h2>
        <p>
            описание...
        </p>
        <p><a class="btn btn-default">Подробности &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Рубрика 3</h2>
        <p>
            описание...
        </p>
        <p><a class="btn btn-default">Подробности &raquo;</a></p>
    </div>
</div>